<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account/Settings</title>
    <link rel="stylesheet" href="profile.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
      <!-- Overlay for fixed sidebar -->
    <div class="sidebar-overlay"></div>

    <!-- Material sidebar -->
    <aside id="sidebar" class="sidebar sidebar-default open" role="navigation">
        <!-- Sidebar header -->
        <div class="sidebar-header header-cover" style="background-color: #2F2E41;">
            <!-- Top bar -->
            <div class="top-bar"></div>
            <!-- Sidebar toggle button -->
            <button type="button" class="sidebar-toggle">
                <i class="icon-material-sidebar-arrow"></i>
            </button>
            <!-- Sidebar brand image -->
            <div class="sidebar-image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/atom_profile_01.jpg">
            </div>
            <!-- Sidebar brand name -->
            <a data-toggle="dropdown" class="sidebar-brand" href="#settings-dropdown" style="color: #fff;">
                john.doe@gmail.com
                <b class="caret"></b>
            </a>
        </div>

        <!-- Sidebar navigation -->
        <ul class="nav sidebar-nav">
            <li class="dropdown">
                <ul id="settings-dropdown" class="dropdown-menu">
                    <li>
                        <a href="#" tabindex="-1">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            Settings
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            Help
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            Deactivate
                        </a>
                    </li>
                </ul>
            </li>
            <li style=" background-color: #e0e0e0;">
                <a href="#" style="display: flex; align-items: center;">
                    <img src="payment.svg" alt="Logout" style="margin-right: 35px;">
                    Subscriptions
                </a>
            </li>
            <li>
                <a href="#" style="display: flex; align-items: center;">
                    <img src="heart.svg" alt="Logout" style="margin-right: 35px;">
                    Favourites
                </a>
            </li>
            <li>
                <a href="#" style="display: flex; align-items: center;">
                    <img src="reminder.svg" alt="Logout" style="margin-right: 35px;">
                    Reminder
                </a>
            </li>
            <li>
                <a href="#" style="display: flex; align-items: center;">
                    <img src="watch.svg" alt="Logout" style="margin-right: 35px;">
                    Watch history
                </a>
            </li>
            <li class="divider"></li>
            <li class="dropdown">
                <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                    Watch Later
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" tabindex="-1">
                            StreamEase
                            <span class="sidebar-badge">12</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" tabindex="-1">
                            Prime
                            <span class="sidebar-badge">0</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    HULU
                    <span class="sidebar-badge badge-circle">13</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Netflix
                    <span class="sidebar-badge badge-circle">6</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Apple TV
                    <span class="sidebar-badge badge-circle">4</span>
                </a>
            </li>
        </ul>
        <!-- Sidebar divider -->
        <div class="sidebar-divider"></div>
        
        <!-- Sidebar text -->
        <div class="sidebar-text" style="display: flex; align-items: center;">
           <img src="logout.svg" alt="Logout" style="margin-right: 35px;">Logout
        </div>
    </aside>

    <div class="wrapper" style="width: 100%; height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="card" id="card-one">
                    <h2 style="font-weight: bold; text-align: center; margin-top: 20px;">
                        Saved Payment Cards
                    </h2>
                    <br />
                    <div class="saved-methods" id="saved-methods-one">
                        <div class="payment-methods-one">
                            <div class="payment-card payment-card-one payment-card-selected payment-card-first-one" style="display: flex; align-items: center;">
                                <img class="bimg" src="https://reliant.org/img/bank.png" class="bankImage">
                                Checking account ending in 1234
                            </div>
                            <div class="payment-card payment-card-one" style="display: flex; align-items: center;">
                                <img class="bimg" src="https://i.ibb.co/sFg4Zmt/imageedit-4-7428488427.png" class="bankImage">
                                Savings account ending in 5678
                            </div>
                            <div class="payment-card payment-card-one" style="display: flex; align-items: center;">
                                <img class="bimg" src="https://i.ibb.co/sFg4Zmt/imageedit-4-7428488427.png" class="bankImage">
                                Checking account ending in 4321
                            </div>
                            <div class="payment-card payment-card-one" style="display: flex; align-items: center;">
                                <img class="bimg" src="https://i.ibb.co/sFg4Zmt/imageedit-4-7428488427.png" class="bankImage">
                                Checking account ending in 0000
                            </div>
                        </div>
                    </div>
                    <div class="add-payment-method add-payment-card-one">
                        Add Another card
                    </div>
                    <div class="show-saved-one">
                        <span class="cancel">&#10060; <u>Cancel</u></span>
                    </div>
                    <div id="tabs" class="panel-one">
                        <h5>Payment Method</h5>
                        <ul>
                            <li class="radio-button-list-pill radio-button-list-pill--left">
                                <label class="radio-button-list-pill-label">
                                    <a href="#tabs-1">BANK ACCOUNT</a>
                                </label>
                            </li>
                            <li class="radio-button-list-pill">
                                <a href="#tabs-2">CREDIT/DEBIT CARD</a>
                            </li>
                            <li class="radio-button-list-pill radio-button-list-pill--right">
                                <a href="#tabs-3">CHECK BY MAIL</a>
                            </li>
                        </ul>
                        <div id="tabs-1">
                            <div class="slide-toggle ng-scope">
                                <div class="row">
                                    <div class="large-6 columns">
                                        <div class="row">
                                            <div class="column routing-number-section">
                                                <label>
                                                    Routing Number
                                                    <input type="text" id="routing-number-one" placeholder="Routing Number" maxlength="9" name="routingNumber" ng-model="$ctrl.RoutingNumber" class="ng-pristine ng-untouched ng-empty ng-valid-required ng-valid-maxlength ng-invalid ng-invalid-routing-number">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="slide-toggle ng-hide">
                                            <div class="row">
                                                <div class="column">
                                                    <label>
                                                        Account Number
                                                        <input type="text" id="account-number-one" placeholder="Account Number" maxlength="17" name="accountNumber" ng-model="$ctrl.AccountNumber" class="ng-pristine ng-untouched ng-empty ng-valid-required ng-valid-maxlength ng-invalid ng-invalid-account-number">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="large-6 columns">
                                        <div class="reliant-directDebit_image">
                                            <img src="https://reliant.org/ResourcePackages/ReliantFoundation/img/directDebit.png" ng-hide="$ctrl.checkImage" class="" style="" id="exifviewer-img-4" exifid="-1634604828" oldsrc="https://reliant.org/ResourcePackages/ReliantFoundation/img/directDebit.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="large-6 medium-8 columns end">
                                        <div class="small-6 columns radio-button-list-pill radio-button-list-pill--left">
                                            <label class="radio-button-list-pill-label radio-button-list-pill--selected">
                                                Checking
                                                <input type="radio" name="accountType" class="ng-pristine ng-untouched ng-valid ng-not-empty" value="0">
                                            </label>
                                        </div>
                                        <div class="small-6 columns radio-button-list-pill radio-button-list-pill--right">
                                            <label class="radio-button-list-pill-label">
                                                Savings
                                                <input type="radio" name="accountType" class="ng-pristine ng-untouched ng-valid ng-not-empty" value="1">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                </ng-form>
                                </billing-account-ng-form>
                            </div>
                        </div>
                        <div id="tabs-2">
                            <credit-card-ng-form amex-message="Note: Gifts via American Express, may initially appear in your bank records as IATS-CHARITIES and correctly change to Reliant Mission within 48 hours." on-update="$ctrl.onUpdateCreditCard({ creditCard: creditCard })" fade-switch-case="2" class="ng-scope ng-isolate-scope fade" style="">
                                <div>
                                    <input name="name" id="cc-name-one" autocomplete="cc-name" type="text" placeholder="Name on Card" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" required="required" style="">
                                </div>
                                <div class="row">
                                    <div class="medium-7 columns">
                                        <input name="number" id="cc-number-one" autocomplete="cc-number" type="text" placeholder="Card Number" maxlength="19" class="input-group input-group--left input-group--small-normal-radius-right ng-pristine ng-untouched ng-empty ng-valid-maxlength ng-invalid ng-invalid-number">
                                    </div>
                                    <div class="medium-5 columns">
                                        <div class="row">
                                            <div class="small-5 columns">
                                                <input name="month" id="cc-month-one" autocomplete="cc-exp-month" type="text" placeholder="MM" minlength="2" maxlength="2" class="input-group input-group--middle input-group--small-normal-radius-left text-center ng-pristine ng-untouched ui-autocomplete-input ng-empty ng-valid-minlength ng-valid-maxlength ng-invalid ng-invalid-month">
                                            </div>
                                            <div class="small-2 columns">
                                                <span class="postfix input-group input-group--middle">/</span>
                                            </div>
                                            <div class="small-5 columns">
                                                <input name="year" id="cc-year-one" autocomplete="cc-exp-year" type="text" placeholder="YY" minlength="2" maxlength="2" class="input-group input-group--right text-center ng-pristine ng-untouched ui-autocomplete-input ng-empty ng-valid-minlength ng-valid-maxlength ng-invalid ng-invalid-year">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-6" tabindex="0" style="display: none;"></ul>
                                <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content" id="ui-id-7" tabindex="0" style="display: none;"></ul>
                                </ng-form>
                                <div class="credit-card--list">
                                    <img ng-repeat="creditCardType in $ctrl.creditCardTypes" ng-src="https://reliant.org/img/icons/credit-card-icons/visa.gif" alt="Visa" class="fade ng-scope fade--30" ng-class="{'fade--30': $ctrl.cardType !== creditCardType}" src="https://reliant.org/img/icons/credit-card-icons/visa.gif" style="">
                                    <img ng-repeat="creditCardType in $ctrl.creditCardTypes" ng-src="https://reliant.org/img/icons/credit-card-icons/amex.gif" alt="American Express" class="fade ng-scope fade--30" ng-class="{'fade--30': $ctrl.cardType !== creditCardType}" src="https://reliant.org/img/icons/credit-card-icons/amex.gif" style="">
                                    <img ng-repeat="creditCardType in $ctrl.creditCardTypes" ng-src="https://reliant.org/img/icons/credit-card-icons/mastercard.gif" alt="Master Card" class="fade ng-scope fade--30" ng-class="{'fade--30': $ctrl.cardType !== creditCardType}" src="https://reliant.org/img/icons/credit-card-icons/mastercard.gif" style="">
                                    <img ng-repeat="creditCardType in $ctrl.creditCardTypes" ng-src="https://reliant.org/img/icons/credit-card-icons/discover.gif" alt="Discover" class="fade ng-scope fade--30" ng-class="{'fade--30': $ctrl.cardType !== creditCardType}" src="https://reliant.org/img/icons/credit-card-icons/discover.gif" style="" id="exifviewer-img-10" exifid="481735067" oldsrc="https://reliant.org/img/icons/credit-card-icons/discover.gif">
                                </div>
                            </credit-card-ng-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    </div>
    <!--  
    <div class="wrapper">
        Sidebar Constructor
        <div class="constructor">
            <h2 class="headline">Material Sidebar (Profile menu)</h2>
            <p class="subhead">Based on <a href="https://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material Design by Google</a>.</p>
            <p>Icons from <a href="https://zavoloklom.github.io/material-design-iconic-font" target="_blank">Material Design Iconic Font</a></p>
            <p>Tested on Win8.1 with browsers: Chrome 37,  Firefox 32, Opera 25, IE 11, Safari 5.1.7</p>
            <hr />
            <p>You can use this sidebar in Bootstrap (v3) projects. HTML-markup like <a href="https://getbootstrap.com/components/#navbar" target="_blank">Navbar bootstrap component</a> will make your work easier.</p>
            <p>Dropdown menu and sidebar toggle button works with JQuery and Bootstrap.min.js</p>
            <hr />
            <h2 class="headline">Sidebar Constructor</h2>
            <p>
                <label for="sidebar-position">Sidebar postion</label>
                <select id="sidebar-position" name="sidebar-position">
                    <option value="">Default</option>
                    <option value="sidebar-fixed-left">Float on left</option>
                    <option value="sidebar-fixed-right">Float on right</option>
                    <option value="sidebar-stacked">Stacked on left</option>
                </select>
            </p>
            <p>
                <label for="sidebar-theme">Sidebar theme</label>
                <select id="sidebar-theme" name="sidebar-theme">
                    <option value="sidebar-default">Default</option>
                    <option value="sidebar-inverse">Inverse</option>
                    <option value="sidebar-colored">Colored</option>
                    <option value="sidebar-colored-inverse">Colored-Inverse</option>
                </select>
            </p>
            <p>
                <label for="sidebar-header">Sidebar header cover</label>
                <select id="sidebar-header" name="sidebar-header">
                    <option value="header-cover">Image cover</option>
                    <option value="">Color cover</option>
                </select>
            </p>
            <p><button class="sidebar-toggle">Toggle sidebar</button></p>
        </div>
    </div> -->

    <script src="profile.js"></script>     
</body>
</html>